{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- The Electrons Section -->
<div class="w3-container w3-content w3-padding-64 w3-white" style="max-width:800px" id="Electrons">
  <h2 class="w3-wide w3-center">Electrons</h2>
  <p class="w3-opacity w3-center"><i>Eletrons animation cool</i></p>
    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
         <img src="{% static "C_V_Pb.png" %}" alt="Image_test" height="100%" width="100%"
         style="display: block; margin-left: auto; margin-right:auto;">
      </div>
    </div>
  </div>


  <!-- Footerm, edit as you like. perheps uio-logo- github div.. -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity footer w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
{% endblock content %}
